<p-toast></p-toast>
<div class="main">
  <!-- <p-toolbar>
    Live
  </p-toolbar> -->
  <div class="content">
    <div
      class="progressive-container d-flex justify-content-center align-items-center"
      *ngIf="!queueData && !errorCode"
    >
      <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>
    <div class="body py-4 px-2" *ngIf="queueData && !errorCode">
      <div class="sticky-top sticky-header bg-light">
        <div
          class="badge w-100 p-2"
          [ngClass]="{
            'text-bg-primary': queueData.status == 'ONGOING',
            'text-bg-success': queueData.status == 'COMPLETED',
            'text-bg-secondary': queueData.status == 'PENDING'
          }"
          style="
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          "
        >
          <span class="fs-7" style="letter-spacing: 1px">
            {{
              queueData.status == "ONGOING"
                ? "Live"
                : queueData.status == "PENDING"
                ? "Not started"
                : "Completed"
            }}
          </span>
          <div
            *ngIf="queueData.status == 'ONGOING'"
            class="spinner-grow"
            role="status"
            style="width: 10px; height: 10px"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div
          class="p-2"
          *ngIf="
            queueData && queueData.status === 'ONGOING' && nextCandidates.length
          "
        >
          <!-- Notification -->
          <div class="d-flex justify-content-between">
            <div class="h6">Next Candidates</div>
            <button
              class="position-relative btn btn-primary border"
              style="font-size: 10px"
            >
              Notifications
              <div
                class="position-absolute text-dark"
                style="
                  background-color: white;
                  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12);
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  top: -4px;
                  right: -4px;
                  font-size: 10px;
                "
              >
                4
              </div>
            </button>
          </div>
          <!-- Notification-End -->
          <div class="p-1">
            <div class="card p-2 mb-2" *ngFor="let candidate of nextCandidates">
              <div class="row">
                <div class="col-2">#{{ candidate.index + 1 }}</div>
                <div class="col-5">{{ candidate.candidate_id }}</div>
                <div class="col-5">{{ candidate.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-card
        [header]="
          queueData.topic +
          ' ' +
          (queueData.type == 'INTERVIEW'
            ? 'Interview'
            : queueData.type == 'EXTERNAL'
            ? 'External'
            : 'Internal')
        "
        [subheader]="queueData.managername"
      >
        <ng-template pTemplate="header">
          <!-- <img
            alt="Card"
            src="https://online.wharton.upenn.edu/wp-content/uploads/Job-seeker-during-an-interview-facing-three-interviewers.jpg"
          /> -->
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="text-center text-light-50">
            2024 Cataline.in | All rights reserved | {{ "sales@cataline.in" }}
          </div>
        </ng-template>
        <div class="card-header row">
          <div class="col px-3 mb-3">
            Date: {{ queueData.startdate | date }}
          </div>
          <div class="col px-3 mb-3">
            Time: {{ queueData.starttime | convert24to12 }}
          </div>
        </div>
        <div class="card-body">
          <div
            class="card p-2 mb-2"
            [class.done]="candidate.status"
            *ngFor="let candidate of queueData.candidates; let i = index"
          >
            <div class="row">
              <div class="col-2">#{{ i + 1 }}</div>
              <div class="col-5">{{ candidate.candidate_id }}</div>
              <div class="col-5">{{ candidate.name }}</div>
            </div>
          </div>

          <!-- <div class="card p-2 mb-2">
            <div class="row">
              <div class="col-2">#2</div>
              <div class="col-5">0834CS211023</div>
              <div class="col-5">Harsh Nagle</div>
            </div>
          </div> -->
        </div>
      </p-card>
    </div>
    <div class="card" *ngIf="errorCode == 1023">Queue not exist !</div>
  </div>
</div>
