<div
  class="main"
  [class.p-3]="innerWidth > 550"
  [ngClass]="innerWidth > 999 ? 'container' : ''"
  *ngIf="!queueCreateResponse"
>
  <p-card header="Create Queue">
    <ng-template pTemplate="content">
      <div class="row create_queue_main position-relative">
        <div [class.col-4]="innerWidth > 999">
          <app-add-queue [queue]="queue"></app-add-queue>
        </div>
        <div class="break m-2" *ngIf="innerWidth < 999"></div>
        <div [class.col-8]="innerWidth > 999">
          <app-add-candidate [candidates]="candidates"></app-add-candidate>
        </div>
        <div class="position-absolute badge p-2" *ngIf="innerWidth > 999">
          <button class="btn btn-primary me-2" (click)="createQueue()">
            Create
          </button>
          <button class="btn btn-danger" [routerLink]="['/home']">
            Cancel
          </button>
        </div>
      </div>
      <div>
        <div class="mt-2" *ngIf="innerWidth <= 999">
          <button class="btn btn-primary me-2" (click)="createQueue()">
            Create
          </button>
          <button class="btn btn-danger" [routerLink]="['/home']">
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>

<div
  class="main d-flex justify-content-center align-items-center"
  style="height: 100vh"
  *ngIf="queueCreateResponse"
>
  <p-card header="Queue Created">
    <ng-template pTemplate="content">
      <div class="field">
        <span>Manage URl: </span>
        <a class="link-underline-danger link-danger" style="cursor: pointer">{{
          queueCreateResponse.manager_url
        }}</a>
      </div>
      <div class="field">
        <span>Viewer URl: </span>
        <a
          class="link-underline-primary link-primary"
          style="cursor: pointer"
          >{{ queueCreateResponse.viewer_url }}</a
        >
      </div>
    </ng-template>
  </p-card>
</div>
