<div
  class="main"
  [class.p-3]="innerWidth > 550"
  [ngClass]="innerWidth > 999 ? 'container' : ''"
>
  <p-card [header]="'Queue Management Panel'">
    <div class="row position-relative">
      <div
        *ngIf="queueData"
        [ngClass]="{
          'text-bg-primary': queueData.status == 'ONGOING',
          'text-bg-success': queueData.status == 'COMPLETED',
          'text-bg-secondary': queueData.status == 'PENDING'
        }"
        class="position-absolute badge p-2"
        style="max-width: 100px"
        [style.top]="innerWidth > 450 ? '-60px' : '15px'"
        [style.right]="innerWidth > 450 ? '10px' : '32px'"
      >
        <span class="fs-7" style="letter-spacing: 1px">
          {{
            queueData.status == "ONGOING"
              ? "Live"
              : queueData.status == "PENDING"
              ? "Not started"
              : "Completed"
          }}
        </span>
        <div
          *ngIf="queueData.status == 'ONGOING'"
          class="spinner-grow"
          role="status"
          style="width: 10px; height: 10px"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div [class.col-4]="innerWidth > 999" [class.mb-3]="innerWidth <= 999">
        <p-card [subheader]="'Queue'" *ngIf="queue && queueData">
          <div class="field queue_manage d-flex mb-3">
            <label for="topicinput" class="form-label me-2">Topic</label>
            <input
              type="text"
              class="form-control"
              id="topicinput"
              placeholder="eg: company name"
              [(ngModel)]="queue.topic"
            />
          </div>
          <div class="field queue_manage d-flex mb-3">
            <label for="managername" class="form-label me-2">Manager</label>
            <input
              type="text"
              class="form-control"
              id="managername"
              placeholder="eg: company name"
              [(ngModel)]="queue.managername"
            />
          </div>
          <div class="field queue_manage d-flex mb-3">
            <label class="form-label me-2">Type</label>
            <select
              [(ngModel)]="queue.type"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="INTERNAL">Internal</option>
              <option value="EXTERNAL">External</option>
              <option value="INTERVIEW">Interview</option>
            </select>
          </div>
          <div class="field queue_manage d-flex mb-3">
            <label class="form-label me-2">Status</label>
            <select
              [(ngModel)]="queue.status"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="PENDING">Not Started</option>
              <option value="ONGOING">Live</option>
              <option value="COMPLETED">Completed</option>
            </select>
          </div>

          <div class="field queue_manage d-flex mb-3">
            <label for="managername" class="form-label me-2">Date</label>
            <input
              type="date"
              class="form-control"
              id="managername"
              placeholder="eg: company name"
              [(ngModel)]="queue.startdate"
            />
          </div>

          <div class="field queue_manage d-flex mb-3">
            <label for="managername" class="form-label me-2">Time</label>
            <input
              type="time"
              class="form-control"
              id="managername"
              placeholder="eg: company name"
              [(ngModel)]="queue.starttime"
            />
          </div>
          <div class="actions">
            <button
              (click)="saveQueueData()"
              [disabled]="
                queue.topic === queueData.topic &&
                queue.managername === queueData.managername &&
                queue.type === queueData.type &&
                queue.status === queueData.status &&
                queue.startdate === queueData.startdate &&
                queue.starttime === queueData.starttime
              "
              class="btn btn-primary me-2"
            >
              Save
            </button>
            <button
              (click)="resetQueueData()"
              [disabled]="
                queue.topic === queueData.topic &&
                queue.type === queueData.type &&
                queue.status === queueData.status &&
                queue.startdate === queueData.startdate &&
                queue.starttime === queueData.starttime
              "
              class="btn btn-danger"
            >
              Reset
            </button>
          </div>
        </p-card>
      </div>

      <div [class.col-8]="innerWidth > 999">
        <div
          class="mb-3 col-12 position-relative"
          *ngIf="addCandidateData.length"
        >
          <div
            class="position-absolute"
            style="z-index: 9; right: 24px; top: 20px"
          >
            <input
              type="file"
              #importcandidate
              (change)="uploadFile($event)"
              class="form-control form-control-sm"
              accept=".xls,.xlsx"
              style="display: none"
            />
            <button
              pTooltip="Must have id and name columns"
              type="button"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Must have id and name column"
              style="height: 35px; width: 35px"
              (click)="importcandidate.click()"
              class="btn p-1 btn-primary me-2"
            >
              <i class="pi pi-file-import"></i>
            </button>
            <button
              style="height: 35px; width: 35px"
              (click)="addCandidateInput()"
              class="btn p-1 btn-primary me-2"
            >
              <i class="pi pi-plus"></i>
            </button>
          </div>
          <!-- <div class="card-title">Add candidates</div> -->
          <p-card subheader="Add candidates">
            <div
              class="card mb-3 candidate-card shadow-sm"
              *ngFor="let candidate of addCandidateData; let i = index"
            >
              <div class="card-body p-1 d-flex">
                <div class="px-3" style="line-height: 35px">#{{ i + 1 }}</div>
                <div class="info flex-fill d-flex">
                  <input
                    class="form-control form-control-sm me-1"
                    type="text"
                    placeholder="name*"
                    [(ngModel)]="candidate.name"
                  />
                  <input
                    class="form-control form-control-sm me-1"
                    type="text"
                    placeholder="candidate id*"
                    [(ngModel)]="candidate.candidate_id"
                  />
                </div>
                <div class="actions d-flex">
                  <!-- <div class="mx-1" style="line-height: 35px">
                  <i class="pi pi-check"></i>
                </div> -->
                  <div class="mx-2" style="line-height: 35px">
                    <i
                      class="pi pi-times"
                      (click)="removeCandidateFromCandidateInput(i)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions d-flex flex-row-reverse">
              <button class="btn btn-danger" (click)="addCandidateData = []">
                Cancel
              </button>
              <button
                class="btn btn-primary me-2"
                (click)="addCandidatesToQueue()"
              >
                Save
              </button>
            </div>
          </p-card>
        </div>
        <p-card [subheader]="'Candidates'">
          <div class="position-relative">
            <div
              class="position-absolute"
              style="z-index: 9; right: 0px; top: -60px"
            >
              {{ noOfDoneCandidates }}/{{ candidates.length }}
            </div>

            <div class="d-flex flex-row-reverse my-2">
              <button
                *ngIf="!addCandidateData.length"
                (click)="addCandidateInput()"
                style="height: 30px; font-size: 12px"
                class="btn p-1 px-2 btn-primary me-2"
              >
                <i class="pi pi-plus" style="font-size: 10px"></i>
                {{ innerWidth > 450 ? "Add Candidates" : "Add" }}
              </button>
              <input
                class="form-control me-auto"
                placeholder="search..."
                style="max-width: 200px; height: 30px"
                type="search"
                name=""
                id=""
              />
            </div>

            <div
              class="card mb-3 candidate-card shadow-sm"
              [ngClass]="{ 'active-card': candidate.status }"
              *ngFor="let candidate of candidates; let i = index"
            >
              <div
                pDraggable="queueManage"
                pDroppable="queueManage"
                (onDragStart)="onDragStart(i)"
                (onDrop)="onDrop(i)"
                dragHandle=".barsHandle"
                class="card-body p-1 d-flex"
              >
                <div [style.line-height]="innerWidth < 450 ? '60px' : ''">
                  <svg
                    class="barsHandle"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20px"
                    height="30px"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M7 2a2 2 0 10.001 4.001A2 2 0 007 2zm0 6a2 2 0 10.001 4.001A2 2 0 007 8zm0 6a2 2 0 10.001 4.001A2 2 0 007 14zm6-8a2 2 0 10-.001-4.001A2 2 0 0013 6zm0 2a2 2 0 10.001 4.001A2 2 0 0013 8zm0 6a2 2 0 10.001 4.001A2 2 0 0013 14z"
                      fill="#5C5F62"
                    />
                  </svg>
                </div>
                <div
                  class="px-3"
                  [style.line-height]="innerWidth < 450 ? '60px' : '35px'"
                >
                  #{{ i + 1 }}
                </div>
                <div
                  class="info flex-fill d-flex"
                  [class.justify-content-center]="innerWidth < 450"
                  [class.flex-column]="innerWidth < 450"
                >
                  <input
                    [disabled]="!candidate.edit"
                    class="form-control form-control-sm me-1"
                    placeholder="name"
                    type="text"
                    [(ngModel)]="candidate.name"
                  />
                  <input
                    [disabled]="!candidate.edit"
                    class="form-control form-control-sm me-1"
                    placeholder="Candidate Id"
                    type="text"
                    [(ngModel)]="candidate.candidate_id"
                  />
                </div>
                <div class="actions d-flex">
                  <!-- <div class="mx-1" style="line-height: 35px;">
                    <i class="pi pi-check"></i>
                  </div>
                  <div class="mx-1" style="line-height: 35px;">
                    <i class="pi pi-times"></i>
                  </div> -->
                  <div
                    class="mx-1"
                    *ngIf="candidate.edit"
                    style="line-height: 35px"
                  >
                    <i
                      class="pi pi-check"
                      (click)="candidate.edit = false; saveCandidateData(i)"
                    ></i>
                  </div>
                  <div
                    class="mx-1"
                    *ngIf="!candidate.edit"
                    style="line-height: 35px"
                  >
                    <i class="pi pi-pencil" (click)="candidate.edit = true"></i>
                  </div>
                  <div class="mx-2" style="line-height: 35px">
                    <i
                      class="pi pi-trash"
                      (click)="
                        confirmDeleteCandidate(candidate.id, candidate.name)
                      "
                    ></i>
                  </div>
                  <div
                    class="mx-2"
                    *ngIf="candidate.edit"
                    style="line-height: 35px"
                  >
                    <i
                      class="pi pi-times"
                      (click)="candidate.edit = false; resetCandidateData(i)"
                    ></i>
                  </div>

                  <span
                    [pTooltip]="
                      queueData?.status === 'ONGOING' ? '' : 'Queue is not live'
                    "
                  >
                    <input
                      *ngIf="!candidate.edit"
                      class="form-check-input mx-1"
                      style="width: 26px; height: 26px"
                      type="checkbox"
                      [disabled]="queueData?.status != 'ONGOING'"
                      [(ngModel)]="candidate.status"
                      (change)="saveCandidateData(i)"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
