<div
  class="main"
  [class.p-3]="innerWidth > 550"
  [ngClass]="innerWidth > 999 ? 'container' : ''"
>
  <p-card [header]="'Queue Management Panel'">
    <div class="row position-relative">
      <div
        *ngIf="queueData"
        [ngClass]="{
          'text-bg-primary': queueData.status == 'ONGOING',
          'text-bg-success': queueData.status == 'COMPLETED',
          'text-bg-secondary': queueData.status == 'PENDING'
        }"
        class="position-absolute badge p-2"
        style="max-width: 100px"
        [style.top]="innerWidth > 450 ? '-60px' : '15px'"
        [style.right]="innerWidth > 450 ? '10px' : '32px'"
      >
        <span class="fs-7" style="letter-spacing: 1px">
          {{
            queueData.status == "ONGOING"
              ? "Live"
              : queueData.status == "PENDING"
              ? "Not started"
              : "Completed"
          }}
        </span>
        <div
          *ngIf="queueData.status == 'ONGOING'"
          class="spinner-grow"
          role="status"
          style="width: 10px; height: 10px"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div [class.col-4]="innerWidth > 999" [class.mb-3]="innerWidth <= 999">
        <app-queue-card
          *ngIf="queueData"
          [queuedata]="queueData"
          (fetchqueuedata)="fetchQueueData()"
        ></app-queue-card>
      </div>

      <div [class.col-8]="innerWidth > 999">
        <app-candidate-card
          *ngIf="queueData"
          [candidates]="candidates"
          [queuedata]="queueData"
          (fetchqueuedata)="fetchQueueData()"
        ></app-candidate-card>
      </div>
    </div>
  </p-card>
</div>
